# HUB_REPO is the name of the docker repo you want to use
HUB_REPO='hubuser/hubrepo'
CRON_CMD="0 * * * * /home/foundry/rclone-data.sh"
DROPBOX_TOKEN='{"access_token":"YADDA YADDA YADDA}'
FOUNDRY_ZIP_URL="https://yourhost.com/FoundryVTT-VV.vvv.zip"
FOUNDRY_DATA_URL="https://yourhost.com/data.zip"
FOUNDRY_BASE=/home/foundry
FOUNDRY_MAIN=${FOUNDRY_BASE}/app/resources/app/main.js
FOUNDRY_VTT_DATA_PATH=${FOUNDRY_BASE}/data
FOUNDRY_HOSTNAME="vtt.yourhost.com"
PORT=30000
